* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f7fa;
  letter-spacing: 0.42px;
  padding: 40px;
  width: 1280px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}
.mainContainer {
  background-color: white;
  display: flex;
  max-width: 1200px;
}
aside {
  background-color: #1e2939;
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
}
.contactsContainer {
  margin: 60px 40px 0 40px;
}
.contactsContainer h3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
}
.contactsContainer div {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.contactsContainer span {
  font-weight: 700;
  padding-right: 10px;
}
.contactsLink {
  color: #7a818a;
}

.techSkillsContainer {
  margin: 55px 40px 0 40px;
}
.techSkillsContainer h3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}
.techSkillsContainer ul {
  color: #ff6b08;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 20px 20px 0 20px;
}
.techSkillsContainer span {
  color: #a7abb2;
}
.softSkillsContainer {
  margin: 55px 40px 0 40px;
}
.softSkillsContainer h3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}
.softSkillsContainer ul {
  color: #ff6b08;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 20px 20px 0 20px;
}
.softSkillsContainer span {
  color: #a7abb2;
}
.aboutMeContainer {
  padding: 110px 90px 110px 90px;
}
.aboutMeContainer h2 {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}
.aboutMeContainer h1 {
  font-size: 45px;
  font-weight: 700;
  line-height: 89px;
}

.aboutMeContainer p {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  width: 415px;
  height: 107px;
}
.projectsContainer h3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 65px;
}
.projectsContainer ol {
  color: #595959;
  font-size: 14px;
  line-height: 24px;
  margin-top: 15px;
}
ol > li {
  list-style-type: none;
  counter-increment: item;
}
ol > li:before {
  content: counter(item) '. ';
  font-weight: bold;
}
.projectsLink {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}
.workExperienceTitle {
  margin-top: 55px;
}
.workExperience {
  margin-top: 25px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.spanOrange {
  color: #ff6b08;
}
.workDescription {
  margin: 20px 20px 0 20px;
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  width: 540px;
}
.workingTime {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 15px;
}
.educationTitle {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 55px;
}
.educationName {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #ff6b08;
  margin-top: 20px;
}
.educationDirection {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 15px;
}
